<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<!--- 
This is a method to create form to create or update a database record. 
Can only use model here if we name our routes RESTfully 
--->
<%= form_with(model: @movie) do |form| %> 
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 3 %>
  </div>

<%= form.button %> <!--- can skip "Create Movie" here because Rails can automatically do that --->
<% end %>




<!--- This is the old code before we used model method instead
<%= form_with(utl: @movie_path) do |form| %>
  <div>
    <%= label_tag :title %>
    <%= text_field_tag "movie[title]", @movie.title %>
  </div>

  <div>
    <%= label_tag :description %>
    <%= text_area_tag "movie[description]", @movie.description, rows: 3 %>
  </div>

<%= button_tag "Create movie" %>
<% end %>
--->